### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
# first import important libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [4]:
# first connecting with webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [9]:
# opening website using webdriver 
url = ' https://www.naukri.com/'
driver.get(url)

In [10]:
# lets type keywords to search for a job
job_search = driver.find_element_by_xpath('//input[@class="sugInp"]')
job_search.send_keys('Data Analyst')

In [11]:
# lets type the keyword to search for location
location_search = driver.find_element_by_xpath('//input[@name="location"]')
location_search.send_keys('Bangalore')

In [12]:
# lets click on search
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

As we have done with opening the webdriver and searching for our desire job and location and clicking on search tab using selenium automation.

Now we will scrap our desire data which is mentioned in our question no. 1.

In [33]:
# first we will create 4 empty list for job_title, job_location, company_name and required_experience

job_title = []
job_location = []
company_name = []
experience_required = []

# lets scrap all the job title first using xpath

for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):   # getting all the title tags
    job_title.append(i.text)                                                    # getting the texts of titles
    job_title=job_title[:10]                                                    # as we need first 10 job position only
    
# lets scrap the locations using xpath

for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span'): # getting the tags for job location by xpath through parent tag ('li')
    job_location.append(i.text)                 # text for job_location
    job_location = job_location[:10]            # as we need first 10 job locations only
    
# lets scrap the company name using xpath

for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):  # getting tags for company_name
    company_name.append(i.text)                 # getting text in list
    company_name = company_name[:10]            # as we need first 10 company names only
    
# lets scrap the last list experience_required using xpath

for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span'):  # for tags of experience through parent tag(li)
    experience_required.append(i.text)                    # getting text in list
    experience_required = experience_required[:10]        # as we need first 10 experience_required only

All lentghs are equal data has been fatched in related lists. Now we are good to go to make DataFrame of the scraped data.

In [39]:
# making a DataFrame for the fetched data
jobs = pd.DataFrame({})
jobs['Job Title'] = job_title
jobs['Location'] = job_location
jobs['Company Name'] = company_name
jobs['Experience Required'] = experience_required
jobs

,Job Title,Location,Company Name,Experience Required
0,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,4-5 Yrs
1,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
2,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Zilingo.com,0-4 Yrs
4,Data Analyst with Replicon Software,Bangalore/Bengaluru,Replicon Software (India) Pvt Ltd,2-4 Yrs
5,Data Analyst / Sr. Data Analyst - SQL,Bangalore/Bengaluru,Naukri Premium - Employer Services,2-5 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,5-9 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,6-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,1-7 Yrs
9,Senior Associate - Data Analyst,Bangalore/Bengaluru,Sapient,4-6 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [12]:
# first connecting with webdriver, opening a chrome window
driver = webdriver.Chrome('chromedriver.exe')

In [13]:
# opening website using webdriver 
url = ' https://www.naukri.com/'
driver.get(url)

In [14]:
# lets type keywords to search for a job
job_search = driver.find_element_by_xpath('//input[@class="sugInp"]')
job_search.send_keys('Data Scientist')

In [15]:
# lets type the keyword to search for location
location_search = driver.find_element_by_xpath('//input[@name="location"]')
location_search.send_keys('Bangalore')

In [16]:
# lets click on search
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

As we have done with opening the webdriver and searching for our desire job and location and clicking on search tab using selenium automation.

Now we will scrap our desire data which is mentioned in our question no. 2.

In [17]:
# first we will create 4 empty list for job_title, job_location, company_name and job_description

job_title = []
job_location = []
company_name = []


# lets scrap all the job title first using xpath

for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):   # getting all the title tags
    job_title.append(i.text)                                                    # getting the texts of titles
    job_title=job_title[:10]                                                    # as we need first 10 job position only
    
# lets scrap the locations using xpath

for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span'): # getting the tags for job location by xpath through parent tag ('li')
    job_location.append(i.text)                 # text for job_location
    job_location = job_location[:10]            # as we need first 10 job locations only
    
# lets scrap the company name using xpath

for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):  # getting tags for company_name
    company_name.append(i.text)                 # getting text in list
    company_name = company_name[:10]            # as we need first 10 company names only

In [18]:
# lets scrap the last list full job_descriptions using xpath
job_title_urls = [] # empty list for urls
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):  # for tags of job_title
    job_title_urls.append(i.get_attribute('href'))                    # getting url in list

In [19]:
# now we will scrap the job description for each url one by one using selenium
job_description = []
for i in job_title_urls:
    driver.get(i)
    try:
        description_tag = driver.find_element_by_xpath('//section[@class="job-desc"]')
        job_description.append(description_tag.text.replace('\n',''))
    except:
        pass
job_description = job_description[:10]
job_description

["Job descriptionJob descriptionJob Role: Data Scientist/Data Analyst /Business AnalystLocation: Chennai/Bangalore/HyderabadGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.Call to schedule interview Monday -Saturday from 10:00 am to 7 PmKoodesh B- +91 73395 11107Manigandan B - +91 93444 57360Email :careerguidance.koodes@centerforaia.commanigandan@centerforaia.comWhat is needed from you?Freshers who wish to start their career in Analytics and AI and professionals who wish toupskill or change their domain to analytics and emerging technologies are free to apply.Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCASkills relating to Mathematics/Statistics.Natural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualizationGood verbal and written communication skillsAbility to understand domains in businesses across various sectorsSelection procedure includesAptitude Test & Communication Exam - Online / OfflineSQL/Python test - Online / OfflineCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.All the Shortlisted candidates will be eligible to continue the corporate training with CAIAWhat you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:SQL & PLSQLData Wrangling using PythonData Visualization Using Power-BIStatistics for Machine LearningArtificial Intelligence, Data InterpretationSupervised & Unsupervised Learning,NLP & Deep LearningCloud Data LakeBusiness intelligence & Data VisualizationSimulation ProjectsExpected Outcome?At the end of the Training you are expected to be well versed with the following:Analysis of large and complex data sets from multiple sourcesDevelopment and evaluation of data analytics models, algorithms, and solutionsUnderstanding/implementation of ML algorithms, performance tuning, and reportingImplementation of algorithms to mine targeted data and the ability to convert data into a business storyTranslation of business requirements into technical requirements; Data extraction, preparation, and transformationIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organizationRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersFinding analytical solutions to abstract business issues.Apply objective analysis of facts before coming to a conclusionRoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Tech/BE in Any Specialization, BCA in Any Specialization, B.Sc/B.Sc(Hons) in Any Specialization, Any Graduate, B.Com/B.Com(Hons) in Any Specialization, BBA/BMS/BBM/BBS in Any SpecializationKey SkillsBusiness IntelligencePower BiData WranglingArtificial IntelligenceBig DataITMachine LearningStatisticsAnalyticsDeep LearningBusiness AnalysisSQLData ScienceNLPCloud ComputingData AnalysisData VisualizationData WarehousingData AnalyticsETLPython",
 'Job descriptionRoles and ResponsibilitiesRequirements :- 6-9 years of strong experience in data mining, machine learning and statistical analysis.- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Python/ R/ Matlab etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.RoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc/B.Sc(Hons) in Computers, StatisticsPG :M.Sc/MS in Computers, StatisticsDoctorate :Ph.D/Doctorate in Statistics, Computers, Other DoctorateKey SkillsData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job descriptionOur Cause:Rapido is Indias largest bike taxi player focused on solving the first and last mile connectivity problem for India. The primary focus is mobility and changing all facets of mobility across India.We believe that 2 Wheeler are the right mode of transport for developing countries like India and have much more scope than 4 wheelers, which is also reflected in the fact that the number of 2 wheelers is significantly more than the number of 4-wheelers.We have operations in close to 100 cities and are the undisputed market leader in this space. Growing close to 500% year-on-year, we have ambitious targets set for ourselves in the future as well.Role and Responsibilities:Translating business requirements into analytical solutionsPerform data analysis (with a representative sample data slice) and build/prototype the model(s)Work with business users and/or other data scientists to define and close on the model designProvide inputs to the data ingestion/engineering team on input data required by the model, size, format, associations, cleansing requiredIdentify/Provide approach and data to validate the model(s)Collaborate with a technology/data engineering team to transfer the business understanding, get the model productionized and validate the output along with business usersTune the model(s) to improve results provided over timeUnderstand business challenges and goals to formulate the approach for data analysis and model creation that will support business decision makingDo hands-on data analysis and model creationWork closely with data analysts in the team to define and execute on EDA and experiment roadmapWork in highly collaborative teams that strive to build quality systems and provide business valueContinually learn and develop your careerMust have:Passion for understanding business problems and trying to address them by leveraging data - characterized by high-volume, high dimensionality from multiple sourcesAbility to communicate complex models and analysis in a clear and precise mannerExperience with building predictive statistical, behavioral or other models via supervised and unsupervised machine learning, statistical analysis, and other predictive modeling techniques.Experience using R, Python or equivalent statistical/data analysis tools. Ability to transfer that knowledge to different toolsExperience with matrices, distributions and probabilityProficiency with relational databases and NoSQLExperience in Machine Learning, Deep Learning solution, Neural Networks is preferred.Worked in a big data environment before alongside a data engineering team (and data visualization team, data and business analysts)Education and Experience:BE/BS/MS or equivalent in Applied mathematics, statistics, physics, computer science or operations research background is a MUST. Minimum 5-8 years as Data Scientist in real business impact projectsRolesenior data scientistIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryNot mentionedEducationUG :B.Sc/B.Sc(Hons) in Any Specialization, B.Tech/BE in Any SpecializationPG :M.Tech/ME in Any Specialization, M.Sc/MS in Any SpecializationKey SkillsData EngineeringData ModelingQuality SystemsEDAData AnalysisBusiness UnderstandingPythonSkills highlighted with ‘‘ are preferred keyskills',
 'Job descriptionRoles Responsibilities :Understand business issues, stakeholder requirement and expectationsPerform relevant modeling analysis and POC exploring multiple techniquesEnsure Analytics model qualityDocument and present findings and recommendations on methodology in a structured way to various stakeholder or partnering teams (Engineering, Tech, Product leader ).Work closely with the Engineering and Tech team to convert those POC into fully scalable products.Active and effective collaboration with other project team members (other Data Scientist, Data Steward, Technology Engineer )Collaboratively manage projects from timeline creation to project completion, managing expectations with leaders and colleaguesEncourage team building, best practices sharing especially with more junior team members.Stay abreast of developments in the area to ensure bringing the most appropriate solutions to our businessAbout YouYou ve built a decent track record in research and data analytics. And you have the communication chops to translate it all into conversations. While you ve worked with global cross-functional teams, you can also put your head down and focus on independent projects. Seeing the big picture takes attention to detail. Keeping up with the fast-changing world of technology takes someone who recognizes that. You know what s happening in big data and you re ready to influence what s next.QualificationsMasters degree in Data Sciences, mathematics or a closely related field3 to 5 years of experience as a Data Scientist in the businessStrong knowledge of statistical modelling, machine learning.Experience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning AlgorithmsExperience with Optimisation techniques: linear programming, integer programming, genetic algorithm, constrained optimisationExperience in working on distributed or cloud computing platforms such as Google Cloud or Microsoft AzureProficiency in Data Science coding languages like Python, PySpark, SQL, R in a cloud environment like DataBricksExperience using collaborative development tools (git ).Experience working with Agile methodologies (SCRUM)Strong problem solving and excellent communication skills, independent working styleExperience in an FMCG company is a strong plusRoleResearch ScientistIndustry TypeBPO / Call CentreFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, BiotechnologyEmployment TypeFull Time, PermanentRole CategoryR&DEducationUG :Any GraduatePG :Post Graduation Not RequiredKey SkillsCloud computingGITCodingMachine learningAgileScrumFMCGForecastingSQLPython',
 'Job descriptionAs our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.  What You Will DoWork with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baselineUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to productionWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needsDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricingWhat You Will NeedAt least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and UnixA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative fieldSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problemsProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teamsExperience in taking Data Science models to productionPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methodsPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility spaceRoleTeam Lead/Technical LeadIndustry TypeInternetFunctional AreaIT Software - eCommerce, Internet TechnologiesEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any GraduatePG :Any PostgraduateKey SkillsUnixProduct managementComputer scienceOperations researchSimulationMachine learningDistribution systemForecastingPythonLogistics',
 'Job descriptionAs our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.  What You Will DoWork with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baselineUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to productionWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needsDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricingWhat You Will NeedAt least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and UnixA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative fieldSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problemsProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teamsExperience in taking Data Science models to productionPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methodsPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility spaceRoleTeam Lead/Technical LeadIndustry TypeIT Services & ConsultingFunctional AreaIT Software - eCommerce, Internet TechnologiesEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any GraduatePG :Any PostgraduateKey SkillsUnixProduct managementComputer scienceOperations researchSimulationMachine learningDistribution systemForecastingPythonLogistics',
 'Job descriptionAs a Sr Data Scientist, you will be responsible for:Working with business stakeholders to understand the business problem/requirements and helping define analytic objectivesBuilding the state of art machine learning or computer vision models according to the industry use case. Develop re-usable components that can be applied to similar problem across industryBeing responsible for development of advanced computer vision solutions for detection of defects in the industrial inspection images (Visual or CT/Xray images).Implementing computer vision technique in image classification, object detection, segmentation, etc. using frameworks like TensorFlow PyTorchIterating and improve the model performances using appropriate transfer learning techniquesBuilding end to end Machine learning or Deep learning pipelines and follow the deployment best practices (Flask, FastAPI, Streamlit, Docker ,etc.)Having Ability to deploy machine or deep learning solutions in to production (Edge or cloud environment)Fuel your passionTo be successful in this role you will:Have a Bachelors / Phd in Computer Science or STEM Majors (Science, Technology, Engineering and Math) with 2+ yrs experience in building computer vision solutions for the industrial use case.Have Minimum 6 yrs of experience with machine learning, computer vision algorithms, and framework to solve object detection, recognition, tracking, segmentation, etc.Have experience on deep learning machine learning libraries Tensorflow, Pytorch, Keras, sklearn, OpenCV, etc.Have Knowledge of Convolutional Networks and Deep Learning algorithmsHave Solid programming skills with Python and/or non-scripting languagesExperience working with NDT inspection (CT/Xray image) data is a plusExperience with Docker containers cloud deployment is plusWork in a way that works for youWe recognize that everyone is different and that the way in which people want to work and deliver at their best is different for everyone too. In this role, we can offer the following flexible working patterns:Working flexible hours - flexing the times when you work in the day to help you fit everything in and work when you are the most productiveRoleDatawarehousing TechnicianIndustry TypePowerFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategorySystem Design/Implementation/ERP/CRMEducationUG :Any GraduatePG :Post Graduation Not RequiredKey SkillsComputer scienceComputer visiondeep learningMachine learningCloudNDT inspectionMonitoringAnalyticsNon destructive testingPython',

In [20]:
# make a data frame
Jobs = pd.DataFrame({})
Jobs['Job Title'] = job_title
Jobs['Job Location'] = job_location
Jobs['Company Name'] = company_name
Jobs['Job Description'] = job_description
Jobs

,Job Title,Job Location,Company Name,Job Description
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job descriptionJob descriptionJob Role: Data S...
1,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Job descriptionRoles and ResponsibilitiesRequi...
2,Senior Data Scientist,Bangalore/Bengaluru,Roppen Transportation Services Private Limited,Job descriptionOur Cause:Rapido is Indias larg...
3,Sr Data Scientist,Bangalore/Bengaluru,NielsenIQ,Job descriptionRoles Responsibilities :Underst...
4,Senior Data Scientist,Bangalore/Bengaluru,Gojek Tech,"Job descriptionAs our Senior Data Scientist, y..."
5,Senior Data Scientist,Bangalore/Bengaluru,GO-JEK India,"Job descriptionAs our Senior Data Scientist, y..."
6,Senior Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,"Job descriptionAs a Sr Data Scientist, you wil..."
7,Senior Data Scientist,Bangalore/Bengaluru,FabHotel Aay Kay Model Town,"Job descriptionAs as Senior Data Scientist, yo..."
8,Senior Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"Job descriptionAs a Sr Data Scientist, you wil..."
9,"Sr Data Scientist, Payments",Bangalore/Bengaluru,AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED,Job descriptionThe ChallengeBe a thought leade...

# Q3: In this question you have to scrape data using the filters available on the webpage of naukri.com

#### You have to use the location and salary filter.

#### You have to scrape data for “Data Scientist” designation for first 10 job results.

#### You have to scrape the job-title, job-location, company_name,

#### experience_required.

#### The location filter to be used is “Delhi/NCR”

#### The salary filter to be used is “3-6” lakhs

#### The task will be done as shown in the below steps:

#### 1. first get the webpage https://www.naukri.com/

#### 2. Enter “Data Scientist” in “Skill,Designations,Companies” field .

#### 3. Then click the search button.

#### 4. Then apply the location filter and salary filter by checking the respective boxes

#### 4. Then scrape the data for the first 10 jobs results you get.

#### 5. Finally create a dataframe of the scraped data.

#### Note- All of the above steps have to be done in code. No step is to be done manually.

In [23]:
# connecting with webdriver 
driver = webdriver.Chrome('chromedriver.exe')

In [24]:
url = 'https://www.naukri.com/'
driver.get(url)

In [25]:
job_search = driver.find_element_by_xpath('//input[@class="sugInp"]')
job_search.send_keys('Data Scientist')

In [26]:
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [28]:
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p')
location_filter.click()

In [29]:
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p')
salary_filter.click()

In [44]:
# creating 4 empty list for job title, job location, company name, experience required
job_title = []
job_location = []
company_name = []
experience_required = []

# scraping job_title
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):   # getting all the job title tags
    job_title.append(i.text)                                                    # appending the text of title tags in empty list
    job_title = job_title[:10]                                                  # getting first 10 job title
    
# scraping job locations
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span'):
    job_location.append(i.text)
    job_location = job_location[:10]
    
# scraping company name
for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company_name.append(i.text)
    company_name = company_name[:10]
    
# scraping experience required
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span'):
    experience_required.append(i.text)
    experience_required = experience_required[:10]

In [46]:
# making data frame of scraped data
jobs = pd.DataFrame({})
jobs['Job Title'] = job_title
jobs['Company Name'] = company_name
jobs['Job Location'] = job_location
jobs['Experience Required'] = experience_required
jobs

,Job Title,Company Name,Job Location,Experience Required
0,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Greater Noida, Delhi / NCR",0-0 Yrs
1,Senior Data Scientist,inVentiv International Pharma Services Pvt. Ltd.,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",3-6 Yrs
2,Data Scientist,AlgoScale Technologies Private Limited,Noida(Sector-62 Noida),2-6 Yrs
3,"Data Scientist - SAS ,Python, Spark, H20",Optum Global Solutions (India) Private Limited,(WFH during Covid),3-8 Yrs
4,We are hiring- Data Scientist- Noida,RANDSTAD INDIA PVT LTD,Noida,3-7 Yrs
5,Data Scientist/Data Analyst /Business Analyst,Inflexion Analytix Private Limited,Delhi / NCR,0-3 Yrs
6,Team Leader Operations/Data Scientist,Optimint Solutions Pvt. Ltd.,(WFH during Covid),2-5 Yrs
7,Data Scientist,UrbanClap,"Pune, Delhi / NCR, Mumbai (All Areas)",1-3 Yrs
8,Data Scientist (Early Joiner),R Systems International Ltd.,"Gurgaon/Gurugram, Delhi / NCR",4-8 Yrs
9,Data Scientist,PredictiVu,"Gurgaon/Gurugram, Bangalore/Bengaluru",4-8 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

#### This task will be done in following steps:

#### 1. first get the webpage https://www.glassdoor.co.in/index.htm

#### 2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.

#### 3. Then click the search button.

#### 4. Then scrape the data for the first 10 jobs results you get in the above shown page.

#### 5. Finally create a dataframe of the scraped data.

#### Note- All of the above steps have to be done in code. No step is to be done manually.

In [56]:
# instantiating a new chrome window
driver = webdriver.Chrome('chromedriver.exe')

In [57]:
# opening the url of glassdoor
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [58]:
# entering "Data Scientist" in "job title, keywords, company" field
job_search = driver.find_element_by_xpath('//input[@data-test="search-bar-keyword-input"]')
job_search.send_keys('Data Scientist')

In [59]:
# entering Noida in Location field
location_search = driver.find_element_by_xpath('//input[@data-test="search-bar-location-input"]')
location_search.send_keys('Noida')

In [60]:
# clicking the search button
search_btn = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')
search_btn.click()

In [80]:
# creating empty lists 
company_name = []
no_of_days = []
rating = []

# scraping the company name
for i in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]//span'): # getting all html tags for company name
    company_name.append(i.text)          # appending the company name text in empty list 
    company_name = company_name[:10]     # sorting first 10 jobs
    
# scraping no. of days ago job posted
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
    no_of_days.append(i.text)
    no_of_days = no_of_days[:10]
    
# scraping company ratings
for i in driver.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]'):
    if driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]') is None:
        rating.append('--')
    else:
        rating.append(i.text)
rating = rating[:10]

In [83]:
# creating Data Frame of the data we scraped
jobs = pd.DataFrame({})
jobs['Company Name'] = company_name
jobs['Job Age'] = no_of_days
jobs['Company Ratings'] = rating
jobs

                           Company Name Job Age Company Ratings
0                            MasterCard     24h             4.2
1                          Pixel Vision      7d
2                                   IBM      6d             3.9
3  Liberin Technologies Private Limited      7d
4          Salasar New Age Technologies    30d+
5                              Ericsson     22d             4.1
6                       Newgen Software      7d             3.3
7                            Salesforce     18d             4.5
8                 Ginger Webs Pvt. Ltd.    30d+
9                       United Airlines     17d             4.1

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

#### You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

#### The above task will be, done as shown in the below steps:

#### 1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm

#### 2. Enter “Data Scientist” in Job title field and “Noida” in location field.

#### 3. Click the search button.

#### 4. After that you will land on the below page you have to scrape whole data from this webpage

#### 5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 

#### name, Average salary and rating of the company.

#### 6.Store the data in a dataframe.

#### Note that all of the above steps have to be done by coding only and not manually

In [84]:
# instantiating a new chrome window
driver = webdriver.Chrome('chromedriver.exe')

In [85]:
# opening the url for salary data
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [86]:
job_search = driver.find_element_by_xpath('//input[@data-test="search-bar-keyword-input"]')
job_search.send_keys('Data Scientist')

In [87]:
location_search = driver.find_element_by_xpath('//input[@data-test="search-bar-location-input"]')
location_search.send_keys('Noida')

In [89]:
search_btn = driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_btn.click()

In [110]:
# creating empty list for data scientist salary data
company_name = []
average_salary = []
min_salary = []
max_salary = []
no_of_salary = []
ratings = []

# scraping the company name
for i in driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]'):  # getting html tags for company name
    company_name.append(i.text)                                                # appending text(company name) in empty list
    company_name = company_name[:10]                                           # sorting first 10 company name
    
# scraping average salary data
for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]//h3'):
    average_salary.append(i.text)
    average_salary = average_salary[:10]
    
# scraping min salary
for i in driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p[1]'):
    min_salary.append(i.text)
    min_salary = min_salary[:10]
    
# scraping max salary
for i in driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p[2]'):
    max_salary.append(i.text)
    max_salary = max_salary[:10]

# scraping number of salaries data of each company
for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]//span'):
    no_of_salary.append(i.text)
    no_of_salary = no_of_salary[:10]

# scraping rating of the company
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-center mt-xxsm"]//span[1]'):
    ratings.append(i.text)
    ratings = ratings[:10]

In [112]:
salaries = pd.DataFrame({})
salaries['Company Name'] = company_name
salaries['Average Salary'] = average_salary
salaries['Minimum Salary'] = min_salary
salaries['Maximum Salary'] = max_salary
salaries['Number of Salaries'] = no_of_salary
salaries['Ratings of the Company'] = ratings
salaries

,Company Name,Average Salary,Minimum Salary,Maximum Salary,Number of Salaries,Ratings of the Company
0,IBM,"₹9,00,000",₹6L,₹27L,18 salaries,3.9
1,Tata Consultancy Services,"₹6,15,289",₹3L,₹13L,17 salaries,3.9
2,Accenture,"₹11,63,336",₹6L,₹22L,15 salaries,4.1
3,Delhivery,"₹12,18,244",₹5L,₹1Cr,15 salaries,3.9
4,Ericsson-Worldwide,"₹7,39,238",₹4L,₹16L,14 salaries,4
5,UnitedHealth Group,"₹13,00,000",₹8L,₹15L,13 salaries,3.6
6,Valiance Solutions,"₹8,63,750",₹5L,₹15L,10 salaries,4.2
7,EXL Service,"₹11,10,000",₹6L,₹15L,9 salaries,3.6
8,Optum,"₹14,23,677",₹8L,₹20L,9 salaries,3.7
9,Optum Global Solutions,"₹13,28,697",₹4L,₹22L,9 salaries,3.9

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. Discount %
#### To scrape the data you have to go through following steps:
#### 1. Go to flipkart webpage by url https://www.flipkart.com/
#### 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
#### 3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
#### 4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
#### 5. Now scrape data from this page as usual
#### 6. repeat this until you get data for 100 sunglasses.
#### Note that all of the above steps have to be done by coding only and not manually.

In [220]:
# instantiating a new chrome window
driver = webdriver.Chrome('chromedriver.exe')

In [221]:
# opening url of related website
url = 'https://www.flipkart.com/'
driver.get(url)

In [222]:
# sending keys to product search column
product_search = driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]')
product_search.send_keys('Sunglasses')

In [223]:
# clicking the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [224]:
# creating empty list for the required data
brand = []
prod_desc = []
price = []
discount = []

# setting the page limit upto which we can get 100 products data
start = 0
end = 3

# scraping data for sunglasses brand
for page in range(start,end):  # for loop for 3 pages in range so that each page's data could be scraped iteratively
    for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'): # getting web elements for brand names
        brand.append(i.text) # appending brand name data in brand empty list
        
# scraping data for product desciption.        
    for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'): # getting web elements of product description
        if i.text is None:          # if somewhere text is missing in web element
            prod_desc.append('--')  # then append desh so that our length of data could be same and related with other data
        else:
            prod_desc.append(i.text) # appending text of product description in empty list

# scraping data for price data
    for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):     # getting web elements in which price data is present
        price.append(i.text)                                               # appending price data in empty list
        
# scraping data for discount percentage of the product
    for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span'): # getting web elements of discount data
        if i.text is None:                                      # if somewhere discount is missing apending empty list with desh
            discount.append('--')
        else:
            discount.append(i.text)    # appending empty list with discount data 
            
# getting next page for next page data through next page's web elemnt till above mentioned page range in for loop
    nxt_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') # getting next button web element
    try:                                                          
        driver.get(nxt_btn[1].get_attribute('href'))   # trying opening next page through the href link present in web element
    except:
        driver.get(nxt_btn[0].get_attribute('href'))

In [229]:
# checking length of each column data so that we make data frame having related value of same product in each row
print(len(discount),len(price),len(prod_desc),len(brand))

120 120 120 120

In [226]:
# creating data frame
data = pd.DataFrame({})
data['Brand'] = brand
data['Product Description'] = prod_desc
data['Price'] = price
data['Discount'] = discount
data

,Brand,Product Description,Price,Discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
1,povty,UV Protection Wayfarer Sunglasses (Free Size),₹342,65% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
...,...,...,...,...
115,AISLIN,"UV Protection, Mirrored Wayfarer Sunglasses (61)",₹735,73% off
116,United Colors of Benetton,Mirrored Rectangular Sunglasses (53),"₹1,574",66% off
117,Fastrack,"UV Protection, Mirrored Wayfarer Sunglasses (61)",₹788,12% off
118,Wrogn,Mirrored Round Sunglasses (52),₹708,72% off
119,ROZZETTA CRAFT,UV Protection Shield Sunglasses (Free Size),₹499,80% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

#### 1. Rating 
#### 2. Review_summary 
#### 3. Full review
#### You have to scrape this data for first 100 reviews.

In [274]:
# instantiating a new chrome window
driver = webdriver.Chrome('chromedriver.exe')

In [275]:
# opening the url in the chrome window
url = ' https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [276]:
# opening all reviews page where we can find all pages link
all_reviews = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a')
driver.get(all_reviews.get_attribute('href'))

In [285]:
# creating empty lists
page_urls = []
rating_star = []
review_summary = []
full_review = []

# scraping urls of first 10 pages which is available on the same page
url_1 = driver.find_element_by_xpath('//a[@class="ge-49M _2Kfbh8"]') # getting first page url in page_urls[]
page_urls.append(url_1.get_attribute('href'))

url_2 = driver.find_elements_by_xpath('//a[@class="ge-49M"]')  # getting rest of 9 pages urls in page_urls[] list
for i in url_2:
    page_urls.append(i.get_attribute('href'))
    
    
# now getting all the desire data through each page of reviews iteratively
for i in page_urls:
    driver.get(i)
    
    for j in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div[1]'): # getting web elements of ratings
        rating_star.append(j.text)            # appending rating data into empty list of rating_star[]
        
    for k in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):  # getting web elements of review summary 
        review_summary.append(k.text)  # appending the review summary text data into empty list of review_summary[]
        
    for l in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div'):  # getting web elements of full reviews through parent tag
        full_review.append(l.text)  # appending full reviews to the empty list of full_review[]

In [286]:
print(len(rating_star),len(review_summary),len(full_review))

100 100 100

In [289]:
# creating data frame for scraped data
i_phone_data = pd.DataFrame({})
i_phone_data['Ratings in Star'] = rating_star
i_phone_data['Review Summary'] = review_summary
i_phone_data['Full Review'] = full_review
i_phone_data

,Ratings in Star,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Fabulous!,This is my first iOS phone. I am very happy wi...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,Everything is perfect pictures come out so cle...
96,5,Excellent,Value for money product. This iphone 11 is rea...
97,4,Wonderful,I genuinely liked it. One of the best mobile p...
98,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
99,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#### You have to scrape 4 attributes of each sneaker :
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. discount %
#### Also note that all the steps required during scraping should be done through code only and not manually.

In [386]:
# instatntiating a new chrome window
driver = webdriver.Chrome("chromedriver.exe")

In [387]:
# opening the website
url = 'https://www.flipkart.com/'
driver.get(url)

In [388]:
# writing sneakers to search for sneakers in search bar
prod_search = driver.find_element_by_xpath('//input[@class="_3704LK"]')
prod_search.send_keys('Sneakers')

In [389]:
# clicking the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [390]:
# creating empty list
brand = []
prod_desc = []
price = []
discount = []
prod_url = []

# setting the page limit upto which we can get 100 products data
start = 0
end = 3

# scraping data for brand
for page in range(start,end): # for loop for 3 pages to get data from 3 pages
    for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):  # getting web elements for brand
        brand.append(i.text)# appending text data into empty list through web elements
        
# scraping data for product description
    for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'): # getting web elements for price
        price.append(i.text) # appending the price data into empty list

# scraping data for discounts on product
    for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span'):  # getting web elements for discount data
        discount.append(i.text)  # appending the discount data on empty list

# scraping product url 
    for i in driver.find_elements_by_xpath('//a[@class="_2UzuFa"]'):
        prod_url.append(i.get_attribute('href'))
        
# after geting first page data, getting data from next page
    nxt_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_btn[1].get_attribute('href'))
    except:
        driver.get(nxt_btn[0].get_attribute('href'))
        
# scraping product description from each product url iteratively        
for i in prod_url:
    driver.get(i)
    for i in driver.find_elements_by_xpath('//span[@class="B_NuCI"]'):
        prod_desc.append(i.text)
print(len(prod_desc),len(brand),len(price),len(discount))

120 120 120 120

In [391]:
# creating a data frame of scraped data
sneakers_data = pd.DataFrame({})
sneakers_data['Brand'] = brand
sneakers_data['Product Description'] = prod_desc
sneakers_data['price'] = price
sneakers_data['Percentage of Discount'] = discount
sneakers_data

,Brand,Product Description,price,Percentage of Discount
0,PUMA,Cape IDP Sneakers For Men (Black),"₹1,443",58% off
1,ADIDAS,Breaknet Sneakers For Men (White),"₹1,932",57% off
2,ROCKFIELD,Sneakers For Men (Black),₹299,70% off
3,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
4,PEHANOSA,Sneakers For Men (Multicolor),₹495,50% off
...,...,...,...,...
115,Baogi,Sneakers For Men (White),₹449,55% off
116,ASIAN,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹594,25% off
117,BRUTON,Combo Pack of 2 Sports Running LightWeight Sho...,₹474,81% off
118,WRIZT,"Casual Sneakers,dancing, walking Sneakers For ...",₹279,72% off
119,Edoeviv,Original Luxury Branded Fashionable Men's Casu...,₹474,40% off

# Q9: Go to the link - https://www.myntra.com/shoes
### Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”.
### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoes.
### Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [393]:
# instantiating a new chrome window
driver = webdriver.Chrome('chromedriver.exe')

In [394]:
# opening the url
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [397]:
# clicking on price filter
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [400]:
# clicking on color filter
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [409]:
# creating empty list
brand = []
description = []
price = []

# setting page limit upto which data needed to be scraped
start = 0
end = 2

#scraping data for brand
for page in range(start,end):  # for loop for page
    for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(i.text)
        
# scraping data for product description
    for i in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        description.append(i.text)
        
# scraping data for price
    for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        price.append(i.text)
        
# getting data from next page
    nxt_btn = driver.find_elements_by_xpath('//li[@class="pagination-next"]//a')
    try:
        driver.get(nxt_btn[1].get_attribute('href'))
    except:
        driver.get(nxt_btn[0].get_attribute('href'))
print(len(brand),len(description),len(price))

100 100 100

In [410]:
# creating data frame for the data scraped
shoe_data = pd.DataFrame({})
shoe_data['Shoe Brand'] = brand
shoe_data['Shoe Short Description'] = description
shoe_data['Shoe Price'] = price
shoe_data

,Shoe Brand,Shoe Short Description,Shoe Price
0,Nike,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
1,ALDO,Men Driving Shoes,Rs. 11999
2,Nike,LEBRON XVIII Basketball Shoes,Rs. 11436Rs. 17595(35% OFF)
3,Nike,Men REACT INFINITY RUN Shoes,Rs. 14495
4,Nike,Unisex COSMIC UNITY Basketball,Rs. 13495
...,...,...,...
95,Saint G,Women Leather Heeled Boots,Rs. 6460Rs. 7600(15% OFF)
96,Heel & Buckle London,Women Block Heels,Rs. 6392Rs. 7990(20% OFF)
97,Ruosh,Men Leather Monk Shoes,Rs. 5490
98,Geox,Men Leather Sneakers,Rs. 10999
99,ASICS,Women Running Shoes,Rs. 6209Rs. 8999(31% OFF)

# Q10: Go to webpage https://www.amazon.in/
#### Enter “Laptop” in the search field and then click the search icon.
#### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
#### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
#### 1. title
#### 2. Ratings
#### 3. Price

In [2]:
# instantiating a new chrome window
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
# opening the url of amazone.in
url = " https://www.amazon.in/"
driver.get(url)

In [4]:
# searching for laptops in search bar bar
prod_search = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
prod_search.send_keys('Laptop')

In [5]:
# clicking on search button
search_button = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_button.click()

In [10]:
# setting filter for cpu core i7
cpu_filter_1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/div/label/i')
cpu_filter_1.click()

In [11]:
# setting filter for cpu core i9
cpu_filter_2 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a/div/label/i')
cpu_filter_2.click()

In [33]:
# creating empty lists for ratings and product url
ratings = []
prod_url = []

# scraping data for each products url so that we can fetch ratings from each products page iteratively
url1 = driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]') # getting web elements for url
for i in url1[:10]:   # for loop for only 10 products webelement as we need only 10 laptops details
    prod_url.append(i.get_attribute('href')) # appending 10 urls of products into empty list
prod_url # printing urls

['https://www.amazon.in/Dell-i7-1165G7-Inspiron-5410-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1627226511&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11#',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A026612636M4EQCWPR91&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB08KJ9D2HD%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB08KJ9D2HD%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A026612636M4EQCWPR91&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB08KJ9D2HD%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB08KJ9D2HD%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A0970699C4ZQ2EHHDY6F&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB08MQ4CVQF%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB08MQ4CVQF%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A0970699C4ZQ2EHHDY6F&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB08MQ4CVQF%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB08MQ4CVQF%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A1008338T6BBJJCMT1VP&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB08CGKFW23%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB08CGKFW23%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A1008338T6BBJJCMT1VP&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB08CGKFW23%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB08CGKFW23%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A10081262K6KZOZ37JXYV&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB091FJ13Q5%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB091FJ13Q5%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A10081262K6KZOZ37JXYV&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB091FJ13Q5%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB091FJ13Q5%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_4?ie=UTF8&adId=A08698453270J5BF8YQDN&qualifier=1627228681&id=2352504099980252&widgetName=sp_detail&url=%2Fdp%2FB08SY2FZKY%2Fref%3Dsspa_dk_detail_4%3Fpsc%3D1%26pd_rd_i%3DB08SY2FZKY%26pd_rd_w%3DxVsd4%26pf_rd_p%3D3d347ba3-873a-4950-a530-1b4d5938343e%26pd_rd_wg%3DjHwuj%26pf_rd_r%3DXY4NFZ6MWZY3QCEX1DXY%26pd_rd_r%3D5ee70230-2708-47e8-8a82-fc23f113e949']

In [34]:
len(prod_url)  # checking length of url list

10

In [35]:
# scraping ratings data from each url iteratively
for i in prod_url:      # for loop for opening each url iteratively to get rating data from each page iteratively
    driver.get(i)       # opening the url
    rtng = driver.find_elements_by_xpath('//span[@class="a-size-base a-nowrap"]//span')  # web elements of rating data
    for i in rtng:      # for loop for scraping rating data from full product page
        ratings.append(i.text)   # appending the fetched data into empty list

In [36]:
ratings # printing scraped ratings data

['4.3 out of 5',
 '3.2 out of 5',
 '3.2 out of 5',
 '5 out of 5',
 '5 out of 5',
 '4.5 out of 5',
 '4.5 out of 5',
 '4.1 out of 5',
 '4.1 out of 5',
 '4.9 out of 5']

In [37]:
len(ratings)  # checking the the length of ratings

10

In [41]:
# creating empty list for titles
title = []

# scraping data for laptop titles
L_title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')  # getting web elements of titles
for i in L_title[:10]:    # for loop for scraping only 10 title from web elements
    title.append(i.text)  # appending the scraped titles from web elements into empty list

In [42]:
title  # printing titles to check if the data is fetched or not

['Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14" (35.56cm) FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Microsoft Laptop 2 1769 13.5-inch Laptop (Intel Core i7/8GB/256GB SSD/Windows 10 Home/Integrated Graphics), Platinum',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FHD 120 Hz (10th Gen Core i7-10750H/8GB/512GB SSD/Windows 10 Home Plus & MS Office/NVIDIA1650 Ti Graphics/Eclipse Black) D560260WIN9BE',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam']

In [44]:
# creating empty list for price
price = []

L_price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')  # getting web elements of price data
for i in L_price[:10]:      # for loop for only 10 price data from only 10 web elements
    price.append(i.text)    # appending the scraped price data into empty list

In [45]:
price  # printing the price data to check

['96,576',
 '1,09,990',
 '84,990',
 '81,002',
 '1,42,334',
 '46,322',
 '94,171',
 '86,390',
 '86,990',
 '59,999']

In [46]:
len(price)  # checking the lenth of price list

10

In [47]:
# creating the laptop data frame to organise all the data of laptops in data frame
laptop_data = pd.DataFrame({})            # creating an empty data frame
laptop_data['Laptop Title'] = title       # creating a title column in empty data frame and adding title data into title column
laptop_data['Laptop Ratings'] = ratings   # creating rating column in data frame and adding rating data into rating column
laptop_data['Laptop Price'] = price       # creating price column in data frame and adding price data into column
# finally printing the data frame
laptop_data

,Laptop Title,Laptop Ratings,Laptop Price
0,Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...,4.3 out of 5,"96,576"
1,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,3.2 out of 5,"1,09,990"
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,3.2 out of 5,"84,990"
3,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",5 out of 5,"81,002"
4,Microsoft Laptop 2 1769 13.5-inch Laptop (Inte...,5 out of 5,"1,42,334"
5,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,4.5 out of 5,"46,322"
6,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",4.5 out of 5,"94,171"
7,"Dell G3 3500 Gaming Laptop 15.6"" (39.62cms) FH...",4.1 out of 5,"86,390"
8,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.1 out of 5,"86,990"
9,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.9 out of 5,"59,999"